.container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
    justify-content: center;
    text-align: center;
    font-size: 35px
}

.container .img-container img {
    width: 100%;
    border-radius: 20px;
}

.descripton {
    font-size: 20px;
    text-align: center;
}